In [0]:
schema=["name", "subject", "Marks", "Attendance"]

student_data=[("John","Math", 90, 80),("Michael", "Science", 70, None), ("David", "History", 50,40), ("Kelvin", "Computer", 40,None ),("Paul", "GEO", None, None), (None,None,  None, None),("John","Math", 90, 80),("John","Math", 90, 80),(None,None,  None, None),(None,None,  None, None),(None,None,  None, None),(None,"Math", 90, 80),('Naval',None, 90, 80) ]

df=spark.createDataFrame(data=student_data, schema=schema)
display(df)

In [0]:
nulls in all records-- delete
null in name col == fill it with no name
null in subject-=== fill it with Data&AI
null in marks and attendance == fill it with 45

In [0]:
from pyspark.sql.functions import *

In [0]:
schema=["name", "subject", "Marks", "Attendance"]

student_data=[("John","Math", 90, 80),("Michael", "Science", 70, None), ("David", "History", 50,40), ("Kelvin", "Computer", 40,None ),("Paul", "GEO", None, None), (None,None,  None, None),("John","Math", 90, 80),("John","Math", 90, 80),(None,None,  None, None),(None,None,  None, None),(None,None,  None, None),(None,"Math", 90, 80),('Naval',None, 90, 80) ]

df=spark.createDataFrame(data=student_data, schema=schema)

df = df.dropDuplicates()
#df = df.dropna(how='all')
df = df.fillna({'name': 'no name', 'subject': 'Data&AI', 'Marks': 45, 'Attendance': 45})

display(df)